<div id="alarm-detail-drawer" class="drawer">
    <div class="drawer-content">
        <h4 id="drawer-title"></h4>
        <div id="drawer-body"></div>
        <button class="btn btn-secondary mt-3" id="close-drawer">Close</button>
    </div>
</div>