@if (IsVisible)
{
    <div class="modal-backdrop"></div>
    <div class="modal-container">
        <div class="modal-content">
            @ChildContent
            <button class="btn btn-secondary mt-3" @onclick="Close">Close</button>
        </div>
    </div>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    [Parameter] public bool IsVisible { get; set; }

    private void Close() => OnClose.InvokeAsync();
}