version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: frontend/BusinessAsUsual.Web/Dockerfile
    networks:
      - BusinessAsUsual
    ports:
      - "3000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=CI
      - API_URL=http://backend:80
    depends_on:
      - backend
      - admin

  admin:
    build:
      context: .
      dockerfile: frontend/BusinessAsUsual.Admin/Dockerfile
    networks:
      - BusinessAsUsual
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=CI
      - API_URL=http://backend:80
    depends_on:
      backend:
        condition: service_started

  backend:
    build:
      context: .
      dockerfile: backend/BusinessAsUsual.API/Dockerfile
    networks:
      - BusinessAsUsual
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=CI
      - AWS_SQL_CONNECTION_STRING=Server=db;User Id=sa;Password=YourStrong!Password123;Database=BusinessAsUsual;Encrypt=True;TrustServerCertificate=true;
    depends_on:
      db:
        condition: service_healthy

  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    networks:
      - BusinessAsUsual
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Password123
    restart: always
    volumes:
      - ./init.sql:/init.sql
      - mssql_data:/var/opt/mssql
    command: /opt/mssql/bin/sqlservr
    healthcheck:
      test:
        [
          "CMD-SHELL",
          '/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P YourStrong!Password123 -Q "SELECT 1"',
        ]
      interval: 10s
      timeout: 5s
      retries: 10

  initdb:
    build:
      context: .
      dockerfile: Dockerfile.db
    networks:
      - BusinessAsUsual
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./init.sql:/init.sql
      - ./db-init.sh:/db-init.sh
    entrypoint: ["/bin/bash", "-c", "sleep 10 && /bin/bash /db-init.sh"]

volumes:
  mssql_data:

networks:
  BusinessAsUsual:
    driver: bridge
