<footer class="footer-zone text-center py-2 mt-auto @(IsDark ? "bg-dark text-light" : "bg-primary text-warning")">
    <span class="small">© 2025 Business As Usual. All riffs reserved.</span>
</footer>

@code {
    [Parameter] public bool IsDark { get; set; }
}