@inject NavigationManager Nav

<nav class="navbar navbar-expand-lg navbar-zone @(IsDark ? "navbar-dark bg-dark" : "navbar-light bg-primary") px-3 py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3">
            <button class="btn btn-outline-light d-flex align-items-center gap-2"
                    @onclick="OnToggleSidebar">
                <span class="navbar-toggler-icon"></span>
                <span>@(SidebarLabel)</span>
            </button>
        </div>

        <div class="navbar-collapse">
            <ul class="navbar-nav d-flex flex-row gap-3">
                <li class="nav-item ms-2">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/about">About</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/human-resources" class="nav-link" activeClass="active">Human Resources</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    [Parameter] public EventCallback<string> OnSectionSelected { get; set; }
    [Parameter] public EventCallback OnToggleSidebar { get; set; }
    [Parameter] public required string SidebarLabel { get; set; }
    [Parameter] public bool IsDark { get; set; }
}