@inherits LayoutComponentBase
@using BusinessAsUsual.Web.Themes

<ThemeProviderWrapper />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="splash-layout">
    @Body
</div>
