@* Organizational Background - Branded Org Chart *@

<div class="organizational-background">
    <div class="org-chart-container">
        <img src="images/OrgChart.svg" alt="Business As Usual Organization Chart" class="org-chart-svg" />
    </div>
</div>

