@* Organizational Background - Branded Org Chart *@

<div class="organizational-background">
    <div class="org-chart-container">
        <!-- Level 1: CEO -->
        <div class="org-level level-1">
            <div class="org-box">
                <span class="org-label">CEO</span>
            </div>
        </div>

        <!-- Level 2: Executives (3 boxes) -->
        <div class="org-level level-2">
            <div class="org-box">
                <span class="org-label">VP Sales</span>
            </div>
            <div class="org-box">
                <span class="org-label">VP Operations</span>
            </div>
            <div class="org-box">
                <span class="org-label">VP Finance</span>
            </div>
        </div>

        <!-- Level 3: Managers (2 under each executive) -->
        <div class="org-level level-3">
            <!-- VP Sales children -->
            <div class="org-group">
                <div class="org-box org-box-small">
                    <span class="org-label-small">Sales Manager</span>
                </div>
                <div class="org-box org-box-small">
                    <span class="org-label-small">Marketing Manager</span>
                </div>
            </div>

            <!-- VP Operations children -->
            <div class="org-group">
                <div class="org-box org-box-small">
                    <span class="org-label-small">IT Manager</span>
                </div>
                <div class="org-box org-box-small">
                    <span class="org-label-small">HR Manager</span>
                </div>
            </div>

            <!-- VP Finance children -->
            <div class="org-group">
                <div class="org-box org-box-small">
                    <span class="org-label-small">Accounting Manager</span>
                </div>
                <div class="org-box org-box-small">
                    <span class="org-label-small">Treasury Manager</span>
                </div>
            </div>
        </div>
    </div>
</div>

