@page "/test"
@using BusinessAsUsual.Web.Components.Layout
@layout MinimalLayout

<h3>Test Page</h3>
<button class="btn btn-primary" @onclick="TestClick">Click Me</button>

<p>@clickedText</p>

<p> @RendererInfo.IsInteractive </p>

@code {
    private string clickedText = "Not clicked";

    private void TestClick()
    {
        clickedText = "Clicked!";
    }
}
