<aside class="sidebar">
    <h3>Companies</h3>
    <ul>
        <li><a href="/Companies/Provision">Provision New Company</a></li>
        <li><a href="/Companies/ModifySchema">Run Modify Schema</a></li>
        <li><a href="/Companies/View">View Companies</a></li>
    </ul>
</aside>