.footer {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
    text-align: center;
    border-top: 1px solid var(--border);

    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center; /* horizontal centering */
    min-height: 50px; /* pick a height that feels right */
}
