form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
}

form button {
    background-color: var(--card-bg);
    color: var(--card-text);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2ecc71;
}
