<div class="modal fade show" id="statusModal" tabindex="-1" style="display:block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">Success</h5></div>
            <div class="modal-body">@ViewBag.CommitTag</div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.sj"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("provisionerHub")
        .build();

    connection.on("Log", function (message) {
        const logContainer = document.getElementById("modal-body");
        logContainer.innerHTML += <div>${message}</div>;
    });

    connection.start();
</script>