@using BusinessAsUsual.Admin.Areas.Admin.Models.Monitoring
@model IEnumerable<MetricCardModel>

<div class="row">
    @foreach (var card in Model)
    {
        <div class="col-md-6 mb-3">
            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Monitoring/_MetricCard.cshtml", card)
        </div>
    }
</div>