<div class="col-md-4">
    <div class="card w-100" style="background: var(--gradient-card)">
        <div class="card-header">
            <i class="fas fa-hdd me-1"></i> Disk Usage
        </div>
        <div class="card-body chart-container">
            <canvas id="diskChart"></canvas>
        </div>
    </div>
</div>
