<div class="col-md-4">
    <div class="card w-100" style="background: var(--gradient-card)">
        <div class="card-header">
            <i class="fas fa-memory me-1"></i> Memory Usage
        </div>
        <div class="card-body chart-container">
            <canvas id="memoryChart"></canvas>
        </div>
    </div>
</div>
