<div class="col-md-6">
    <div class="card w-100">
        <div class="card-header">
            <i class="fas fa-clock me-1"></i> Uptime
        </div>
        <div class="card-body chart-container">
            <canvas id="uptimeChart"></canvas>
            <div id="uptimeLabel" class="uptime-label"></div>
        </div>
    </div>
</div>
